@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('pictures/bg2.jpg') no-repeat;
    background-size: cover;
    background-position:  center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    z-index: 99;
}
.logo{
    font-size: 2em;
    color: aliceblue;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius:5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.navigation a:hover{
    font-size: 1.7em;
    transition: .2s ease-out;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnlogin-popup{
    width: 115px;
    height:35px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.09em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}
.navigation .btnlogin-popup:hover{
    background: #fff;
    color: #162938;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease ,height 0.2s ease;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
   transition: transform 0.18s ease;
   transform: translateX(0);
}
.wrapper.active .form-box.login{
transition: none;
transform:translateX(-400px) ;
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform 0.18s ease;
    transform: translateX(0);
 }
.wrapper .icon-close{
    position: absolute;
    top: 0;right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
font-size: 2em;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
border-bottom-left-radius: 20px;
cursor: pointer;
z-index: 1;
}
.form-box h22{
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
font-size: 1em;
color: #162938;
font-weight: 500;
pointer-events: none;
transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: underline;

}
.btn{
    width: 100%;height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size:.9em ;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin:25px 0 10px ;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
@media screen and (max-width:600px){
    .logo{
        font-size: 1.9em;
        color: aliceblue;
        user-select: none;
        display: inline;
        position: relative;
        left: -74px;
        letter-spacing: 3px;
        align-content: stretch;
        justify-content: space-around;
        align-items: baseline;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 119%;
        padding: 25px 100px;
        display: flex;
        align-items: center;
        z-index: 89;
    }
    .navigation{
        position: relative;
        left: -30px;
        font-size: 24px;
        display: flex;
    
    }
    .navigation .btnlogin-popup{
        width: 114px;
        height: 41px;
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        border-radius: 26px;
        cursor: pointer;
        font-size: 1.09em;
        color: #fff;
        font-weight: 500;
        transition: 0.5s;
        left: 12px;
        position: relative;
    }
    body{
        background: linear-gradient(#989298,#454545,#858585);

    }
}
@media screen and (max-width:900px) and (min-width:600px){
    .logo{
        font-size: 2.5em;
        color: aliceblue;
        user-select: none;
        display: inline;
        position: relative;
        left: -74px;
        letter-spacing: 3px;
        align-content: stretch;
        justify-content: space-around;
        align-items: baseline;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 119%;
        padding: 25px 100px;
        display: flex;
        align-items: center;
        z-index: 89;
    }
    .navigation{
        position: relative;
        left: -100px;
        font-size: 1.8em;
        display: flex;
    
    }
    .navigation .btnlogin-popup{
        width: 114px;
        height: 49px;
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        border-radius: 26px;
        cursor: pointer;
        font-size: 1.07em;
        color: #fff;
        font-weight: 500;
        transition: 0.5s;
        left: 10px;
        position: relative;
    }
}

@media screen and (min-width:900px){
    .logo{
        font-size: 2.5em;
        color: aliceblue;
        user-select: none;
        display: inline;
        position: relative;
        left: -74px;
        letter-spacing: 3px;
        align-content: stretch;
        justify-content: space-around;
        align-items: baseline;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 119%;
        padding: 25px 100px;
        display: flex;
        align-items: center;
        z-index: 89;
    }
    .navigation{
        position: relative;
        justify-content:   space-between;
        left: -290px;
        font-size: 1.8em;
        display:inline;
    
    }
    .navigation .btnlogin-popup{
        width: 114px;
        height: 49px;
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        border-radius: 26px;
        cursor: pointer;
        font-size: 1.07em;
        color: #fff;
        font-weight: 500;
        transition: 0.5s;
        left: 10px;
        position: relative;
    }
}
@media screen and (min-width:300px) and (max-width:550px){
    body{
        height: 100vh;
    }
    .navigation .btnlogin-popup{
        left: -135px;
        top: 60px;
    }
    header{
        height: 100px;
        position: fixed;
    }
    .navigation{
        display: flex;
        justify-content: center;
        top: 0px;
        margin-bottom: 30px;   
    }
    .logo{
        font-size: 1.85em;
    }
    .wrapper{
        padding: 10px;
        position: relative;
        width: 268px;
        height: 450px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        backdrop-filter: blur(50px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        top: 218px;
        overflow: hidden;
        transform: scale(0);
        transition: transform 0.5s ease ,height 0.2s ease;
    }
 nav{
    margin-bottom: 50px;
 }
}